
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slider-container {
    position: relative;
    width: 90%;
    overflow: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 0 0 5%;
}

.slider-track img {
    width: calc(30% - 10px); /* Adjusted width to fit the layout */
    margin: 0 5px; /* 5% of the container width for each side */
    padding: 30px 0;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}
